{% extends 'base.html' %}

{% load markdownify %}

{% block content %}
<main class="recipe-grid">
  {% for recipe in recipe_list %}
  <div class="recipe-card">
    <h2 class="recipe-card-title">
      <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
    </h2>
    <p class="recipe-card-date">{{ recipe.created }} | by {{recipe.author}} </p>
    {% if recipe.image %}
    <img src="{{ recipe.image }}" class="pull-right">
    {% endif %}
  </div>
  {% endfor %}
</main>

{% endblock content %}