{% extends 'base.html' %}

<!-- {% load markdownify %} -->

{% block content %}

<main class="meal_plan-form">
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ meal_plan.name }}"?</p>
        {{ form.as_p }}
        <div class="control">
            <button class="button">Delete</button>
        </div>
    </form>
</main>
{% endblock content %}