{% extends 'base.html' %}


{% block content %}

<main class="meal_plans-detail">
  <div>
    <a href="{% url 'meal_plans_edit' meal_plans.id %}">Edit</a>
    <a href="{% url 'meal_plans_delete' meal_plans.id %}">Delete</a>
  </div>

  <h1> {{ meal_plans.name }}</h1>
  

  {% for recipe in meal_plan.recipes.all %}
  <p>
    <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
  </p>
  {% endfor %}
</main>


{% endblock content %}