<!-- an example of a template that extends the base template: -->
{% extends 'base.html' %}

<!-- {% load markdownify %} -->

{% block content %}
<main class="meal_plans-grid">
    {% for meal_plan in meal_plans %}
    <div class="meal_plans">
        <h2 class="meal_plans-title">
            <a href="{% url 'meal_plans_detail' meal_plan.pk %}">{{ meal_plan.name }} </a>
        </h2>
        {% for recipe in meal_plan.recipes.all %}
        <p>
            <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
        </p>
        {% endfor %}
    </div>
    {% empty %}
    <div>
        <h1>No Meal Plans Yet</h1>
        <p>
            Would you like to
            <a href="{% url 'meal_plans_create' %}">create</a>
            one?
        </p>
    </div>
    {% endfor %}
</main>
{% endblock content %}


{% block footer %}

<!-- Without the tag below the default footer will show. -->

<em> *** THIS IS THE FOOTER FROM THE LIST PAGE *** </em>

{% endblock footer %}