{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Recipe - Scrumptious</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul class="navigation">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'home' %}">Scrumptious</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'recipe_new' %}">Write a recipe</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'meal_plans' %}"> Meal Plans</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                <!-- <li>
                    <a href="{% url 'tags_list' %}">Tags</a>
                </li> -->
                <!-- <li>
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li> -->

                {% else %}
                <li class="nav-item">
                    <a href="{% url 'signup' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}

                {% if user.is_staff %}
                <li class="nav-item">
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% block pagination %}
        {% endblock pagination %}
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>

</html>